node-linker=hoisted
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=*@react-navigation*
public-hoist-pattern[]=@babel/*
public-hoist-pattern[]=metro*
public-hoist-pattern[]=pretty-format
public-hoist-pattern[]=invariant
public-hoist-pattern[]=react-is
public-hoist-pattern[]=whatwg-fetch
public-hoist-pattern[]=nanoid
public-hoist-pattern[]=react-freeze
